# Diese Datei wird auf GitHub hochgeladen und enthält Dummy-Daten
VITE_CONTACT_NAME=Max Mustermann
VITE_CONTACT_EMAIL=info@beispiel.de
VITE_CONTACT_PHONE=+49 123 456789
VITE_CONTACT_STREET=Musterstraße 1
VITE_CONTACT_CITY_LINE=12345 Musterstadt
VITE_CONTACT_CITY=Musterstadt
